
h1,
h2{

  text-align: center;
  font-family: 'Merriweather', serif;

}

body {

    width: 960px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin: auto;
    background-color: #3366ff;
}
