html{

  background: linear-gradient(#e66465, #9198e5);

}
h1 {
  text-align: center;
  font-family: 'Merriweather', serif;
}

p {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

#Image1{

      text-align: center;
}

#Image2{

  text-align: center;
}
#Image3{

  text-align: center;

}

h3 {

  text-align: center;
  font-family: 'Merriweather', serif;
}

#ListItems{

  text-align: center;
}

li {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}
